* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: rgb(15, 25, 50);
}

html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}
.MuiTimelineDot-root{
  background-color: #F42F54 !important;
  border: 2px solid white !important;
}